<a href="https://colab.research.google.com/github/adgadiwan09/Week-3-NLP_basics/blob/master/Countvectorizer_TDIDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Count-vectorizer and TD-IDF basics

In [1]:
new_message=['I wish to go to NewYork for the vacation','What are your plans for the vacation','I wish I could go for a vacation']

In [2]:
new_message

['I wish to go to NewYork for the vacation',
 'What are your plans for the vacation',
 'I wish I could go for a vacation']

Count-Vectorizer

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(ngram_range = (1,1))
dtm = vect.fit_transform(new_message)
dtm

<3x12 sparse matrix of type '<class 'numpy.int64'>'
	with 19 stored elements in Compressed Sparse Row format>

In [18]:
dtm_array =dtm.toarray()
dtm_array

array([[0, 0, 1, 1, 1, 0, 1, 2, 1, 0, 1, 0],
       [1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1],
       [0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0]])

In [19]:
import pandas as pd
dtm_df = pd.DataFrame(dtm_array,columns = vect.get_feature_names())
dtm_df

   are  could  for  go  newyork  plans  the  to  vacation  what  wish  your
0    0      0    1   1        1      0    1   2         1     0     1     0
1    1      0    1   0        0      1    1   0         1     1     0     1
2    0      1    1   1        0      0    0   0         1     0     1     0

TF-IDF - Term frequency & Inverse document frequency
#IDF = log(No of Documents)/(No of documents containing that term)
There are 2 ways of getting TF-IDF 
1. TFIDF Value = Count Vectorizer(i/p = new_message) + TFIDF Transformer(i/p = o/p of Count Vectorizer)
2. TFIDF Value = TFIDF Vectorizer(i/p = new_message)

In [20]:
#1st way
from sklearn.feature_extraction.text import TfidfTransformer
ttrans = TfidfTransformer() # Calling the TFIDF Transformer
ttrans_out = ttrans.fit_transform(dtm_array)#Sparse Matrix
ttrans_out_array = ttrans_out.toarray()# Array
ttrans_df = pd.DataFrame(ttrans_out_array,columns = vect.get_feature_names()) # DataFrame
ttrans_df

        are     could       for  ...      what      wish      your
0  0.000000  0.000000  0.216634  ...  0.000000  0.278956  0.000000
1  0.435357  0.000000  0.257129  ...  0.435357  0.000000  0.435357
2  0.000000  0.591887  0.349578  ...  0.000000  0.450145  0.000000

[3 rows x 12 columns]

In [12]:
#2nd way
from sklearn.feature_extraction.text import TfidfVectorizer
ttrans1 = TfidfVectorizer() # Calling the TFIDF Transformer
ttrans1_out = ttrans1.fit_transform(new_message)#Sparse Matrix
ttrans1_out_array = ttrans1_out.toarray()# Array
ttrans1_df = pd.DataFrame(ttrans1_out_array,columns = vect.get_feature_names()) # DataFrame
ttrans1_df

        are     could       for  ...      what      wish      your
0  0.000000  0.000000  0.216634  ...  0.000000  0.278956  0.000000
1  0.435357  0.000000  0.257129  ...  0.435357  0.000000  0.435357
2  0.000000  0.591887  0.349578  ...  0.000000  0.450145  0.000000

[3 rows x 12 columns]