<a href="https://colab.research.google.com/github/adgadiwan09/Week-3-NLP_basics/blob/master/MLproject_messageDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## In this ML based project we are going to deal with messaging app data. Here, we arr going to take 'length' and 'punct' as our parameter to make our model which will predict the 'label'.

In [17]:
import pandas as pd
df=pd.read_table('spam.tsv')
df

     label                                            message  length  punct
0      ham  Go until jurong point, crazy.. Available only ...     111      9
1      ham                      Ok lar... Joking wif u oni...      29      6
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3      ham  U dun say so early hor... U c already then say...      49      6
4      ham  Nah I don't think he goes to usf, he lives aro...      61      2
...    ...                                                ...     ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

[5572 rows x 4 columns]

In [0]:
#Taking x and y for creating a model & x and y will me categorised as xtrain xtest and ytest ytrain
# for testing and training
x= df.iloc[:,[2,3]]
y=df.iloc[:,0]

In [4]:
x

      length  punct
0        111      9
1         29      6
2        155      6
3         49      6
4         61      2
...      ...    ...
5567     160      8
5568      36      1
5569      57      7
5570     125      1
5571      26      1

[5572 rows x 2 columns]

In [5]:
y

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: label, Length: 5572, dtype: object

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state =0)

In [18]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(3900, 2)
(1672, 2)
(3900,)
(1672,)

In [0]:
from sklearn.naive_bayes import MultinomialNB

In [13]:
model=MultinomialNB()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'ham'], dtype='<U4')

In [14]:
y_test

4456     ham
690     spam
944      ham
3768     ham
1189     ham
        ...
4833     ham
3006     ham
509      ham
1761     ham
1525     ham
Name: label, Length: 1672, dtype: object

In [0]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [0]:
result= accuracy_score(y_pred,y_test)*100

In [20]:
result

86.54306220095694

In [47]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

         ham       1.00      0.87      0.93      1664
        spam       0.01      0.25      0.02         8

    accuracy                           0.87      1672
   macro avg       0.50      0.56      0.47      1672
weighted avg       0.99      0.87      0.92      1672

In [24]:
confusion_matrix(y_pred,y_test)

array([[1445,  219],
       [   6,    2]])

Conclusion can be drawn from the matrix that model is working fine for ham messages but its not working for spam.